.process {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: #000;
}
.process__step {
    width: 300px;
    text-align: center;
}
.process__step img {
        border-radius: 20px;
    }