.box {
    color: #000;
    height: 430px;
    overflow-y: scroll;
    padding: 40px;
    background-color: rgb(243 244 246); 
    border-radius: 20px;
    h3 {
        padding-bottom: 10px;
        font-weight: 700;
    }
}
ol {
    display: flex; 
    flex-direction: column;
    gap: 20px;
    list-style:decimal;
}